//Margin or padding of a content
$oc-space-content: 1rem;

/* Backgrounds */
$oc-color-site-background: #D3DADE;

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.oc-content {
    padding: $oc-space-content;
    border: $oc-color-site-background $oc-space-content solid;
    min-height: 100%;
    background-color: $oc-color-site-background;

    li {
      padding-bottom: 10px;  
    }
}

#oc-examples {
  height: 100%;
}